In [1]:
import pandas as pd
data=pd.read_csv("/Users/MaxBilbow/OneDrive - Coventry University/Courses/2. Data Intensive Systems/Sessions/iris_csv.csv")
type(data)

pandas.core.frame.DataFrame

In [3]:
pd.set_option("display.max.columns",None)
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [13]:
print(data["sepal.length"])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

In [14]:
mean_data=data["sepal.width"].mean()
sum_data=data["sepal.width"].sum()
median_data=data["sepal.width"].median()
print("Sum:",sum_data, "\nMean:",mean_data, "\nMedian:", median_data)

Sum: 458.6
Mean: 3.057333333333334
Median: 3.0

In [16]:
data.isnull()

     sepal.length  sepal.width  petal.length  petal.width  variety
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [17]:
data.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [21]:
%matplotlib
import seaborn as sns
import matplotlib.pyplot as plt
iris = sns.load_dataset("iris")

Using matplotlib backend: Qt5Agg

In [22]:
sns.heatmap(iris.corr(), cmap="YlGnBu", linecolor='white',linewidths=1)
plt.show()

In [24]:
g=sns.pairplot(iris,hue="species")

In [25]:
from sklearn import datasets
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [26]:
iris=datasets.load_iris()
X=iris.data
y=iris.target

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [28]:
sc=StandardScaler()
sc.fit(X_train)
X_train_std=sc.transform(X_train)
X_test_std=sc.transform(X_test)

In [29]:
X_test[0:5]

array([[6.1, 2.8, 4.7, 1.2],
       [5.7, 3.8, 1.7, 0.3],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.9, 4.5, 1.5],
       [6.8, 2.8, 4.8, 1.4]])

In [32]:
from sklearn.datasets import load_iris
from matplotlib import pyplot as plt
print(iris.feature_names)
iris = load_iris()
# The indices of the features that we are plotting
x_index = 0
y_index = 1
# this formatter will label the colorbar with the correct target names
formatter = plt.FuncFormatter(lambda i, *args:iris.target_names[int(i)])
plt.figure(figsize=(5, 4))
plt.scatter(iris.data[:, x_index], iris.data[:, y_index],c=iris.target)
plt.colorbar(ticks=[0, 1, 2], format=formatter)
plt.title('Iris Dataset Scatterplot')
plt.xlabel(iris.feature_names[x_index])
plt.ylabel(iris.feature_names[y_index])
plt.tight_layout()
plt.show()

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']